.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    /* background: #fff; */

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonal-content span {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
}

.testimonal-content p {
    color: #626262;
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 25px;
}



@media (max-width:425px) {
    .testimonal-content p {
        font-size: 20px;
    }
}

.testimonal-content h6 {
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2px;
}

.testimonial-post-text {
    color: #626262 !important;
    font-size: 14px !important;
}

.swiper-button {
    z-index: 5;
}

.swiper-pagination-fraction {
    left: -210px !important;
}

.swiper-pagination {
    position: absolute;
    text-align: end !important;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    color: #000000 !important;
}

/* new testimonial css */
.testimonial-sec {
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, .2);
    border-radius: 15px;
    min-height: 340px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.testimonial-star-ic {
    filter: brightness(0) saturate(100%) invert(26%) sepia(97%) saturate(2293%) hue-rotate(210deg) brightness(97%) contrast(108%);
}

.testimonial-before {
    position: relative;
    display: inline;
}

.testimonial-company-name {
    background-color: #E2EEFF;
    padding: 8px 8px 8px 6px;
    border-radius: 40px;
    transition: 0.3s;
}

.testimonial-before::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    height: 3px;
    width: 50%;
    background-color: #0467FF;
    transform: translateX(-50%);
}

.testimonial-sec:hover .testimonial-company-name {
    background-color: #0467FF;
    padding: 8px 8px 8px 6px;
    border-radius: 40px;
    color: #fff;
}

.testimonial-quates {
    position: absolute;
    top: 0;
    right: 0;
}

.testimonial-sec:hover .testimonial-quates {
    transform: scale(0.5);
}

@media (max-width:425px) {
    .testimonial-content p {
        font-size: 14px;
        padding: 6px;
    }

    .testimonial-content img {
        width: 165px;
    }
}